name: Deploy docs to GitHub Pages

on:
  push:
    branches:
      - master
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: |
          uv pip install mkdocs mkdocs-material

      - name: Configure Git
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Build and deploy MkDocs
        run: uv run mkdocs gh-deploy --force
